/*
* @Author: lenovo
* @Date:   2019-12-22 11:02:52
* @Last Modified by:   27987
* @Last Modified time: 2019-12-24 23:40:00
*/

/*
* @Author: lenovo
* @Date:   2019-12-22 10:48:44
* @Last Modified by:   lenovo
* @Last Modified time: 2019-12-22 10:50:41
*/

/*
* @Author: lenovo
* @Date:   2019-12-22 10:44:19
* @Last Modified by:   lenovo
* @Last Modified time: 2019-12-22 10:46:06
*/

*{
	padding: 0;
	margin: 0;
	font-family: "宋体";
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}

.big{
	width: 100%;
	height:3010px ;
	text-align: center;
	margin: 0 auto;
	background-color: pink;
}
.box{
	height: 560px;
	width: 1236px;
	margin: 0 auto;
	position: relative;
}
.info{
	height: 40px;
	width: 1236px;
	background-color: pink;
	opacity: 50%;
}
.info .tip{
	font-size: 30px;
	line-height: 40px;
	left: 300px;
	margin-left: 100px;
}
.info .tip a:hover{
	color: yellow;
	border-bottom:3px solid yellow;
	padding-bottom:0px;
}
.info .name1{
	margin-right: 30px;
	float: right;
	font-size: 15px;
	line-height: 40px;
}
.info .name2{
	margin-right: 50px;
	float: right;
	font-size: 15px;
	line-height: 40px;
}

.slide{
	height: 560px;
	width:1200px;
	overflow: hidden;
	position: relative;
	left: 18px;
}
.slider{
	height: 560px;
	width: 8400px;
	left: -1200px;
	position: absolute;
	margin-top: 0px;
	overflow: hidden;
}
.imgs{
	height: 560px;
	width: 1200px;
	float: left;
}
#left{
	display: block;
	width: 35px;
	height: 150px;
	text-align: center;
	cursor: pointer;
	color: white;
	top: 200px;	
	line-height: 150px;
	background: red;
	position: absolute;
	opacity: 0;
	left: -10px;
	border-radius: 30%;
}
#right{
	display: block;
	width: 35px;
	height: 150px;
	text-align: center;
	cursor: pointer;
	color: white;
	top: 200px;
	line-height: 150px;
	background: red;
	position: absolute;
	opacity: 0;
	right: -10px;
	border-radius: 30%;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
	text-align: center;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background:#ccc; 
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background:pink;
}
.second{
	width: 1236px;
	height: 1650px;
	margin-top: 50px;
}
.two{
	height: 1650px;
	width: 1200px;
	position: relative;
	left: 28px;
}
.two>p{
	font-size: 35px;
	margin-top: 40px;
	margin-bottom: 30px;
}
.img{
	height:400px ;
	width: 230px;
	float: left;
	cursor: pointer;
	transition: all 0.6s;
	margin-left: 10px;
}
.img:hover{
	transform: scale(1.2);
}
.third{
	width: 1236px;
	height: 600px;
	margin-top: 50px;
}
.three{
	width: 1200px;
	height: 600px;
	margin-left: 160px;
	/* margin: 0 auto; */
}
.three li{
	width: 240px;
	height: 400px;
	float: left;
	margin:25px;
	border: 1px solid #888888;
	position: relative;
}
.three a img{
	height: 400px;
	width: 240px;
	cursor: pointer;
	margin-left: 0px;
}
.hide{
	width:100%;
	height:50px;
	text-align:center;
	background-color: #4c4c4c;
	color:#fff;
	opacity:0.8;
	position:absolute;
	bottom:0;
	cursor: pointer;

}
.hide p{
	font-size:14px;
	margin-top:5px;
	color:#e2e2e1;
}
.three li:hover .hide{
	width:100%;
	height:100%;
	background-color: #383f3c;
	opacity:0.8;
	position:absolute;
}
.three li:hover .hide .p1{
	margin-top:115px;
	font-size:15px;
}
.shop{
	font-size: 35px;
	text-align: center;
	/* float: left; */
}

.last{
	width:1200px;
	height:98px;
	text-align:center;
	margin:0 auto;
	background-color: #323232;
}
.last p{
	color:#fff;
	text-align:center;
	padding-top:25px;
	font-size:14px;
}
.last p:last-child{
	font-size:11px;
	margin-bottom:-20px;
}
